@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: #ffe6f0;
    font-family: 'Patrick Hand', cursive;
    color: #ff66b2;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ff99cc;
    border-radius: 15px;
    background-color: #fff0f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff4d94;
}

.input-container {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ff99cc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4d94;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
}

.hidden {
    display: none;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #ff4d94;
}
